HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/src/main/resources/*.yml
/src/main/resources/*.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
src/test/
!src/test/
src/test/*
!src/test/java/
src/test/java/*
!src/test/java/org/
src/test/java/org/*
!src/test/java/org/personal/
src/test/java/org/personal/*
!src/test/java/org/personal/project/
src/test/java/org/personal/project/*
!src/test/java/org/personal/project/service/
src/test/java/org/personal/project/service/*
!src/test/java/org/personal/project/service/payment/
!src/test/java/org/personal/project/service/payment/StandardWebhookVerifierTest.java
upload/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
